asgiref==3.8.1
blessed==1.20.0
blinker==1.8.2
bpython==0.24
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
curtsies==0.4.2
cwcwidth==0.1.9
Flask==3.0.3
Flask-Login==0.6.3
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Pygments==2.18.0
python-dotenv==1.0.1
pyxdg==0.28
razorpay==1.4.2
requests==2.32.3
setuptools==72.2.0
six==1.16.0
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
