/* Global Styles */
@font-face {
  font-family: 'Horizon';
  src: url("fonts/horizon.otf");
}
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Horizon';

  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #23527c;
}

/* Navigation Bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 10px;
  z-index: 1000;
  transition: top 0.5s;
}

.navbar.hide {
  top: -100px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
  flex-direction: row;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #333;
}

.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-collapse {
  flex-basis: 100%;
  justify-content: flex-end;
}

.form-inline {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-link {
    padding: 10px;
  }

}

/* Hero Section */

/* .hero {
  position: relative;
  padding: 100px;
  height: 50vh;
  color: #fff;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-size: cover; 
}

.hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.carousel {
  height: 400px; 
  margin: 0 auto;
}

.carousel-item {
  height: 100%;
  width: 100%; 
  background-size: cover;
  background-position: center; 
}
.carousel-inner {
  height: 100%;
}

.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item[data-background="hero-background-1.jpg"] {
  background-image: url('hero-background-1.jpg');
}

.carousel-item[data-background="hero-background-2.jpg"] {
  background-image: url('hero-background-2.jpg');
}

.carousel-item[data-background="hero-background-3.jpg"] {
  background-image: url('hero-background-3.jpg');
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero .lead {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero .btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.hero .btn:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero {
    padding: 50px;
    margin-top: 50px;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero .lead {
    font-size: 1rem;
  }
  .hero .btn {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
  }
} */



.hero-section {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  /* transition: background .4s ease-in; */
  background-image: url('/static/images/hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  

}
input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 85%;
  height: 70%;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;

  transition: transform .8s ease;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #ddd; 
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2%;
}
.card.active {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid blue;
}
.container {
  width: 100%;
  max-width: 1400px;
  max-height: 700px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-item {
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 10px;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#card-1 {
  background-image: url('/static/images/hero-background-1.jpg');
}

#card-2 {
  background-image: url('/static/images/hero-background-2.jpg');
}

#card-3 {
  background-image: url('/static/images/hero-background-3.jpg');
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #card-3, #item-2:checked ~ .cards #card-1, #item-3:checked ~ .cards #card-2, #item-4:checked ~ .cards #card-4{
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #card-2, #item-2:checked ~ .cards #card-3, #item-3:checked ~ .cards #card-1, #item-4:checked ~ .cards #card-4{
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #card-1, #item-2:checked ~ .cards #card-2, #item-3:checked ~ .cards #card-3, #item-4:checked ~ .cards #card-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}


/* Featured Products Section */

.featured-products {
  padding: 2rem;
}

.featured-products h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  position: relative;
  margin: 1rem;
  
}

.product-card:hover {
  transform: scale(1.05); /* Add magnifying effect on hover */
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  color: #666;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card a:hover {
  color: inherit;
}
.product-card .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.product-card:hover .hover-image {
  opacity: 1;
}

.product-card:hover .main-image {
  opacity: 0;
}

/* Call-to-Action Section */

.call-to-action {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.call-to-action h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.call-to-action p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.call-to-action form {
  margin-top: 2rem;
}

.call-to-action input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.call-to-action button[type="submit"] {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.call-to-action button[type="submit"]:hover {
  background-color: #ccc;
}

/* Footer Section */

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: 'Open Sans', sans-serif;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .col-lg-4 {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 10px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.footer-text {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 2px;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-list a:hover {
  color: #ccc;
}

/* Add some space between the columns on medium and large screens */
@media (min-width: 768px) {
  .footer .col-lg-4 {
    padding: 0 20px;
  }
}

/* Make the columns take up more space on large screens */
@media (min-width: 1200px) {
  .footer .col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Responsive Design */

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .product-card {
    margin-bottom: 2rem;
  }

  .call-to-action h2 {
    font-size: 1.8rem;
  }

  .call-to-action p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .product-card {
    margin-bottom: 3rem;
  }


  .call-to-action h2 {
    font-size: 1.5rem;
  }

  .call-to-action p {
    font-size: 0.8rem;
  }
}