{% extends 'base.html' %}

{% import 'navbar.html' as navbar %}

{% set title = 'STEEZ™ - Admin Order' %}


{% block body %}
<div class="row">
    <div class="col-2">
        {{ navbar.admin_navbar(current_user) }}
    </div>
    <div class="col-10 overflow-y-auto" style="height: 100vh;">
        <div class="border border-1 mt-3">
            <div class="card-header">
                <p class="fs-1 m-0 text-center">Orders</p>
            </div>
        </div>

        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Order ID</th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Razorpay Order ID</th>
                </tr>
            </thead>
            <tbody>
                {% if orders %}
                {% for order in orders %}
                <tr>
                    <td>{{ skip + loop.index }}</td>
                    <td>{{ order.id }}</td>
                    <td>(USR_{{ order.user.id }}) {{ order.user.name }}</td>
                    <td>(PROD_{{ order.product.id }}) {{ order.product.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ (order.total_price * 100) | int | format_currency }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.created_at | datetimeformat }}</td>
                    <td>{{ order.razorpay_order_id }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="text-center">No orders for today</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?page={{ page - 1 }}&limit={{ limit }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page + 1 }}&limit={{ limit }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}