{% extends 'base.html' %}
{% import 'navbar.html' as navbar %}
{% set title = "STEEZ™ - Admin Category" %}
{% block body %}
    <div class="row">
        <div class="col-2">{{ navbar.admin_navbar(current_user) }}</div>
        <div class="col-10 overflow-y-auto" style="height: 100vh;">
            <div class="border border-1 mt-3">
                <div class="card-header">
                    <p class="fs-1 m-0 text-center">Category Settings</p>
                    <p class="fs-6 font-monospace text-center m-2" id="date-time"></p>
                </div>
            </div>
            <button type="button" class="btn btn-success w-100 mt-3 rounded rounded-0" data-bs-toggle="modal" data-bs-target="#add-category">Add Category</button>
            <table class="table table-bordered table-striped mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>Sr. No.</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% if categories %}
                        {% for category in categories %}
                            <tr>
                                <td class="align-middle">{{ loop.index }}</td>
                                <td class="align-middle">CAT_{{ category.id }}</td>
                                <td class="align-middle">{{ category.name }}</td>
                                <td class="align-middle">{{ category.description }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No category available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="add-category-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-category-label">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for("admin_add_category") }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-1">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="mb-1">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ form.submit(class="btn btn-primary") }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
