{% extends "base.html" %}

{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}

{% set title = "About Us" %}

{% block body %}
{{ navbar.navbar(current_user, search_form, login_form) }}
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">About Us</h2>
                <p class="text-secondary mb-5 text-center lead fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, necessitatibus!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid rounded border border-light" loading="lazy" src="https://placehold.co/600x500" alt="About Us">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
                <div class="row justify-content-lg-end">
                    <div class="col-12 col-lg-11">
                        <div class="about-wrapper">
                            <p class="lead mb-4 mb-md-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nostrum nisi possimus, ex, expedita sint
                                ducimus id magnam modi pariatur sequi illum quas accusamus adipisci vel consectetur velit eius reiciendis cumque animi.</p>
                            <div class="row gy-4 mb-4 mb-md-5">
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">20+</h3>
                                            <p class="fw-bold text-center m-0">Design</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">100%</h3>
                                            <p class="fw-bold text-center m-0">Quality Products</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for("home") }}" class="btn btn-primary bsb-btn-2xl">
                                Explore
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer.footer(newsletter_form) }}
{% endblock %}