{% extends 'base.html' %}

{% set title = 'STEEZ™ - Admin' %}


{% block body %}
<p class="text-center horizon-font fs-1 mt-5 mb-5" id="heading">STEEZ<sup>TM</sup> - Product Management</p>

<div class="container consolas">
    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('admin_add_product') }}" class="btn btn-primary rounded rounded-0">Add Product</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            <a href="{{ url_for('admin_edit_product', id=product.id) }}" class="btn btn-warning rounded rounded-0">Edit</a>
                            <a href="{{ url_for('admin_delete_product', id=product.id) }}" class="btn btn-danger rounded rounded-0">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}