{% extends 'base.html' %}

{% set title = 'STEEZ™ - Admin' %}

{% block body %}
<p class="text-center horizon-font fs-1 mt-5 mb-5" id="heading">STEEZ<sup>TM</sup> - Add Product</p>

<div class="container">
    <form action="{{ url_for('admin_add_product') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="input-group mb-2">
            {{ form.name.label(class="input-group-text rounded rounded-0") }}
            {{ form.name(class="form-control rounded rounded-0", placeholder="Enter the product name", id="name") }}
        </div>

        {% if form.name.errors %}
        <div class="alert alert-danger mt-2" role="alert">
            {% for error in form.name.errors %}
            <i class="bi bi-exclamation-circle"></i> {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-group mb-2">
            {{ form.price.label(class="input-group-text rounded rounded-0") }}
            {{ form.price(class="form-control rounded rounded-0", placeholder="Enter the product price", id="price") }}
        </div>

        {% if form.price.errors %}
        <div class="alert alert-danger mt-2" role="alert">
            {% for error in form.price.errors %}
            <i class="bi bi-exclamation-circle"></i> {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-group mb-2">
            {{ form.description.label(class="input-group-text rounded rounded-0") }}
            {{ form.description(class="form-control rounded rounded-0", placeholder="Enter the product description", id="description") }}
        </div>

        {% if form.description.errors %}
        <div class="alert alert-danger mt-2" role="alert">
            {% for error in form.description.errors %}
            <i class="bi bi-exclamation-circle"></i> {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-group mb-2">
            {{ form.images.label(class="input-group-text rounded rounded-0") }}
            {{ form.images(class="form-control rounded rounded-0", placeholder="Enter the product image URL", id="image") }}
        </div>

        {% if form.images.errors %}
        <div class="alert alert-danger mt-2" role="alert">
            {% for error in form.images.errors %}
            <i class="bi bi-exclamation-circle"></i> {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-group mb-2">
            {{ form.stock.label(class="input-group-text rounded rounded-0") }}
            {{ form.stock(class="form-control rounded rounded-0", placeholder="Enter the product stock", id="stock") }}
        </div>

        {% if form.stock.errors %}
        <div class="alert alert-danger mt-2" role="alert">
            {% for error in form.stock.errors %}
            <i class="bi bi-exclamation-circle"></i> {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="input-group mb-2">
            {{ form.sizes.label(class="input-group-text rounded rounded-0") }}
            {{ form.sizes(class="form-control rounded rounded-0") }}
        </div>

        {{ form.submit(class="btn btn-secondary rounded rounded-0") }}
    </form>
</div>
{% endblock %}