{% extends 'base.html' %}

{% import 'navbar.html' as navbar %}

{% set title = 'STEEZ™ - Admin' %}


{% block body %}
<div class="row">
    <div class="col-2">
        {{ navbar.admin_navbar(current_user) }}
    </div>
    <div class="col-10 overflow-y-auto" style="height: 100vh;">
        <div class="border border-1 mt-3">
            <div class="card-header">
                <p class="fs-1 m-0 text-center">Orders Created/Recorded</p>
                <p class="fs-6 font-monospace text-center m-2" id="date-time"></p>
            </div>
        </div>

        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Amount</th>
                    <th>Amount Paid</th>
                    <th>Amount Due</th>
                    <th>Status</th>
                    <th>Attempts</th>
                    <th>Created At</th>
                    <th>Notes (Developer Use)</th>
                </tr>
            </thead>
            <tbody>
                {% if response["items"] %}
                {% for order in response["items"] %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.amount | format_currency }}</td>
                    <td>{{ order.amount_paid | format_currency }}</td>
                    <td>{{ order.amount_due | format_currency }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.attempts }}</td>
                    <td>{{ order.created_at | datetimeformat }}</td>
                    <td class="font-monospace pre">
                        <p class="d-inline-flex gap-1">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false"
                                aria-controls="collapse-{{ loop.index }}">
                                Show JSON Notes
                            </a>
                        </p>
                        <div class="collapse" id="collapse-{{ loop.index }}">
                            <div class="card card-body">
                                {{ order.notes | tojson | safe }}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" class="text-center">No orders for today</td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <th>Total</th>
                    <th>{{ total_order_amount | format_currency }}</th>
                    <th>{{ total_paid | format_currency }}</th>
                    <th>{{ total_due | format_currency }}</th>
                    <th colspan="3"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}