{% macro footer(newsletter_form) -%}
<div class="container-fluid bg-dark" data-bs-theme="dark">
    <div class="container-xl" data-bs-theme="dark">
        <footer class="mt-5 bg-dark" data-bs-theme="dark">
            <div class="row">
                <div class="col-6 col-md-2 mb-3 ">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ url_for('faq') }}" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                        <li class="nav-item mb-2"><a href="{{ url_for('refund_policy') }}" class="nav-link p-0 text-body-secondary">Refund Policy</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3 ">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="bi bi-instagram me-1"></i> Instagram
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="bi bi-twitter me-1"></i> Twitter
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="bi bi-facebook me-1"></i> Facebook
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3 ">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Partners</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Custom Orders</a></li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3 text-white ">
                    <form action="{{ url_for('subscribe') }}" method="POST">
                        {{ newsletter_form.csrf_token }}
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            {{ newsletter_form.email(class="form-control rounded rounded-0") }}
                            {{ newsletter_form.subscribe(class="btn btn-outline-light rounded rounded-0") }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-center border-top text-secondary-emphasis pt-2">
                <p class="fs-6" style="font-family: 'Ubuntu',sans-serif; font-weight: 400; font-style: normal;">© 2024 STEEZ</p>
            </div>
        </footer>
    </div>
</div>

{%- endmacro %}