{% extends 'base.html' %}
{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}
{% import 'hero.html' as hero %}
{% set title = "STEEZ™" %}
{% block styles %}
    <style>
        .product-card:hover {
            transition: transform 0.3s ease-in;
        }

        .product-card img {
            transition: opacity 0.2s ease-out;
        }

        .product-card .hover-image {
            opacity: 1;
        }

        .product-card:hover .hover-image {
            opacity: 0;
        }

        .product-card:hover .main-image {
            opacity: 1;
        }

        .fs-max {
            font-size: 4rem;
        }

        .fs-7 {
            font-size: 0.875rem;
        }
    </style>
{% endblock %}
{% block body %}
    {{ navbar.navbar(current_user, search_form, login_form, categories) }}
    {% if show_hero %}{{ hero.carousel(carousels) }}{% endif %}
    <div class="position-fixed bottom-0 end-0 m-5 z-5 rounded rounded-0 shadow bg-transparent" style="z-index: 10;">
        <button class="btn btn-warning rounded rounded-0 z-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-gift"></i> GIFTS
        </button>
    </div>
    {% if products %}
        <div class="container-fluid p-0">
            {% for category, products in categories.items() %}
                <div class="m-0 p-0">
                    <div class="row row-cols-lg-4 row-cols-2 m-0 p-0">
                        <div class="col m-0 p-0 border border-light">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <div class="text-center align-middle">
                                    <p class="fs-lg-2 fs-3 horizon-font align-middle">{{ category.name }}</p>
                                    <p class="text-muted align-middle fw-semibold text-uppercase">Shop Now</p>
                                </div>
                            </div>
                        </div>
                        {% for product in products %}
                            <div class="col-lg-3 m-0 p-0 border border-light" id="{{ product.id }}">
                                <div class="card image-transition product-card bg-transparent rounded rounded-0 border border-0">
                                    <div class="d-flex justify-content-center position-relative">
                                        <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="img-fluid main-image" />
                                        <img src="{{ product.images[1] }}" alt="{{ product.name }}" class="img-fluid hover-image position-absolute top-0 start-50 translate-middle-x" />
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title code text-uppercase fw-semibold">{{ product.name }}</p>
                                        <p class="text-dark text-uppercase fw-semibold">
                                            {{ product.price | format_currency_direct }}
                                            {% if product.discount > 0 %}
                                                <span class="text-decoration-line-through text-muted">{{ product.display_price | format_currency_direct }}</span>
                                                <span class="badge bg-danger rounded-pill align-middle">{{ product.discount }}% OFF</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <a href="{{ url_for('product', product_id=product.id) }}" class="stretched-link"></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="text-dark bg-dark">
                <hr class="m-0 p-0">
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-uppercase" id="offcanvasRightLabel">Gift Cards</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-dark" data-bs-theme="dark">
                    <div class="card bg-transparent border border-1 rounded rounded-0 p-5 mt-3">
                        <div class="row">
                            <div class="col">
                                <p class="fs-6 text-white text-center">
                                    Gift cards are the perfect gift for any occasion. They are available in
                                    various denominations and can be used to purchase any product on our
                                    website.
                                </p>
                                <hr>
                                <form method="POST" action="{{ url_for('buy_gift_card') }}">
                                    {{ gift_form.csrf_token }}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-2">
                                                {{ gift_form.amount.label(class="form-label") }}
                                                {{ gift_form.amount(class="form-control p-2", id="amount") }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-1">
                                                {% if current_user.is_authenticated %}
                                                {{ gift_form.submit(class="btn btn-outline-warning w-100 p-2 ps-3 pe-3") }}
                                                {% else %}
                                                <a href="{{ url_for('login_route') }}" class="btn btn-outline-warning w-100 p-2 ps-3 pe-3">Login to Buy</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
            
                                    <p class="fs-6 text-muted text-small mt-3">
                                        *Gift cards are non-refundable. For more information
                                        <a href="{{ url_for('refund_policy') }}" class="link-underlink-dark text-muted">Click Here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ footer.footer(newsletter_form) }}
{% endblock %}
