{% extends 'base.html' %}

{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}

{% set title = 'STEEZ™' %}

{% block script %}
<script>
    function glitchText() {
        let heading = document.getElementById('heading');

        function generateRandomText() {
            let Es = ["é", "è", "ê", "ë", "ē", "ė", "ę"];
            let randomText = '';
            randomText += Es[Math.floor(Math.random() * Es.length)] + Es[Math.floor(Math.random() * Es.length)];
            return `ST${randomText}Z<sup>TM</sup>`;
        }

        let iterations = 9;
        let interval = 80;

        let randomHtmls = [];

        for (let i = 0; i < iterations; i++) {
            randomHtmls.push(generateRandomText());
        }

        let reversedRandomHtmls = randomHtmls.slice().reverse();

        var allRandomHtmls = randomHtmls.concat(reversedRandomHtmls);
        allRandomHtmls.push('STEEZ<sup>TM</sup>');


        allRandomHtmls.forEach((randomHtml, index) => {
            setTimeout(() => {
                heading.innerHTML = randomHtml;
            }, index * interval);
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            glitchText();
        }, 14000);
    });
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/Home.css') }}">
{% endblock %}

{% block body %}
{{ navbar.navbar(current_user) }}
<section class="hero-section">
    <div class="container card-container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
        <div class="cards">
            <label class="card" for="item-1" id="card-1">
                <div class="row align-items-center">
                    <div class="col-lg-8 text-left">
                        <h1>FLAT <strong>60%</strong> off on T-shirts</h1>
                        <p class="lead">Explore our collection of products and services.</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button type="button" class="btn btn-outline-light">
                            <img src="/static/images/product1.jpeg" alt="Product 1" class="img-fluid">
                        </button>
                    </div>
                </div>
            </label>
            <label class="card" for="item-2" id="card-2">
                <div class="row align-items-center">
                    <div class="col-lg-8 text-left">
                        <h1>Welcome to Our Website</h1>
                        <p class="lead">Explore our collection of products and services.</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button type="button" class="btn btn-outline-light">Get Started</button>
                    </div>
                </div>
            </label>
            <label class="card" for="item-3" id="card-3">
                <div class="row align-items-center">
                    <div class="col-lg-8 text-left">
                        <h1>Welcome 3</h1>
                        <p class="lead">Explore our collection of products and services.</p>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button type="button" class="btn btn-outline-light">Get Started</button>
                    </div>
                </div>
            </label>
        </div>
    </div>
</section>
<div>
    <section class="featured-products">
        <div class="container-fluid">
            <h2 class="section-title text-center">Featured Products</h2>
            {% set product = products[0] %}
            {% set total_products = products | length %}
            {% for i in range((total_products/4) | int) %}
            <div class="row">
                {% for j in range(4) %}
                <div class="col-lg-3">
                    <div class="product-card">
                        <a href="Product.html">
                            <img src="{{ product.images[0] }}" alt="Product 1" class="img-fluid main-image">
                            <img src="{{ product.images[1] }}" alt="Product 1" class="img-fluid hover-image">
                        </a>
                        <h5 class="product-title p-3">{{ product.name }}</h5>
                        <p class="product-price"> {{ product.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="row">
                {% for i in range((total_products%4)) %}
                <div class="col-lg-3">
                    <div class="product-card">
                        <a href="Product.html">
                            <img src="{{ product.images[0] }}" alt="Product 1" class="img-fluid main-image">
                            <img src="{{ product.images[1] }}" alt="Product 1" class="img-fluid hover-image">
                        </a>
                        <h5 class="product-title p-3">{{ product.name }}</h5>
                        <p class="product-price"> {{ product.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
</div>

{{ footer.footer() }}

{% endblock %}