{% macro carousel(carousels) -%}
<style>
    .carousel-caption {
        display: flex;
        position: absolute;
        top: 50%;
        left: 10%;
    }
</style>
<div id="carousel-front" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        {% for caro in carousels %}
            {% if loop.index == 1 %}
                <button type="button" data-bs-target="#carousel-front" data-bs-slide-to="{{ loop.index0 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% else %}
                <button type="button" data-bs-target="#carousel-front" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}"></button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for caro in carousels %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="2000">
                <img src="{{ caro.image }}" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="d-flex fw-bold">{{ caro.heading }}</h2>
                    <p class="d-flex">{{ caro.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}