{% macro carousel(carousels) -%}
<style>
    .carousel-caption {
        position: absolute;
        top: 50%;
        left: 10%;
    }
</style>
<div id="carousel-front" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        {% for caro in carousels %}
            {% if loop.index == 1 %}
                <button type="button" data-bs-target="#carousel-front" data-bs-slide-to="{{ loop.index0 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% else %}
                <button type="button" data-bs-target="#carousel-front" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}"></button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for caro in carousels %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="2000">
                <div class="text-center">
                    <img src="{{ caro.image }}" class="img-fluid text-center min-vw-100" alt="..." />
                </div>
                <div class="carousel-caption">
                    <h1 class="d-flex fw-bold text-uppercase">{{ caro.heading }}</h1>
                    <p class="d-flex">{{ caro.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}