{% macro login(form, id) %}
    <style>
        .blur-background {
            backdrop-filter: blur(5px);
        }

        .blur-background-intense {
            backdrop-filter: blur(25px);
        }
    </style>
    <div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">
            <div class="modal-content bg-transparent blur-background rounded rounded-0 p-lg-5 border border-1 border-light">
                <div class="border bg-transparent blur-background-intense p-lg-5 m-lg-5">
                    <div class="modal-header border border-0" data-bs-theme="dark">
                        <div class="modal-title h5 text-light">Login</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for("login_route") }}" method="POST">
                            {{ form.csrf_token }}
                            {% if error %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    <i class="bi bi-exclamation-circle"></i> {{ error }}
                                </div>
                            {% endif %}
                            <div class="input-group mb-3">{{ form.email(class="form-control rounded rounded-0 shadow-none", id="email", placeholder="Enter your registered STEEZ™ email", **{"aria-label": "Enter your registered STEEZ™ email", "aria-describedby": "email"}) }}</div>
                            <div class="input-group mb-2">{{ form.password(class="form-control rounded rounded-0 shadow-none", id="password", placeholder="Enter the password", **{"aria-label": "Enter the password", "aria-describedby": "show-password"}) }}</div>
                            <div class="text-center">
                                <p class="fs-6 mt-3 text-light">
                                    Don't have an account? <a href="{{ url_for("register") }}" class="link-light">Register here</a>
                                </p>
                                {{ form.submit(class="btn btn-primary rounded rounded-0") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
