{% import "login_form.html" as login %}
{% macro navbar(current_user, search_form, login_form, categories=None) %}
    <div class="border border-1 m-0 p-0">
        <nav class="navbar navbar-expand-xl bg-body-tertiary ms-1">
            <div class="container-fluid d-flex align-items-betwwen m-0 p-0" id="navbar">
                <button class="navbar-toggler" id="hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand nav-link active horizon-font fs-4" id="nav-head" aria-current="page" href="{{ url_for("home") }}">STEEZ<sup>TM</sup></a>
                <div class="navbar-nav d-block d-xl-none search-btn">
                    <li class="nav-item mx-3">
                        <button class="nav-link">
                            <i class="fa-solid fa-magnifying-glass text-secondary"></i>
                        </button>
                    </li>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto text-center">
                        {% if categories %}
                            {% for category in categories %}
                                <li class="nav-link mx-4">
                                    <a class="link-dark link-underline link-underline-opacity-0 link-opacity-100 link-opacity-50-hover fw-semibold" href="{{ url_for('category_' + category.name.lower().replace(' ', '_')) }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto mx-3 mb-lg-0 d-flex">
                        <div class="navbar-nav d-none d-xl-block search-btn">
                            <li class="nav-item mx-3">
                                <button class="nav-link">
                                    <i class="fa-solid fa-magnifying-glass text-secondary"></i>
                                </button>
                            </li>
                        </div>
                        {% if current_user.is_authenticated %}
                            <li class="nav-item mx-1 searchNext">
                                <a class="nav-link" href="{{ url_for("order_history") }}">Order History</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link" href="{{ url_for("checkout") }}"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #5b5c5d;"></i>{% set total = current_user.cart.count %}
                                    {% if total %}<sup>{{ total }}</sup>{% endif %}
                                </a>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link" href="{{ url_for("logout") }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item mx-1 searchNext">
                                <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#login-modal">Login</button>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link" href="{{ url_for("register") }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="search-input-bar" class="container d-none" style="max-width: 540px;">
                <form action="{{ url_for("search") }}" method="POST" class="input-group">
                    {{ search_form.hidden_tag() }}
                    {{ search_form.query(class="form-control shadow-none", id="search-input", placeholder="Search for products", **{"aria-label": "Search for products"}) }}
                    {{ search_form.submit(class="d-none") }}
                    <button class="btn btn-outline-secondary rounded rounded-0" type="button" id="close-btn" aria-label="Close search">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <ul id="suggestions-list" class="list-group position-absolute w-100 shadow-sm bg-white rounded border" style="z-index: 1000; max-height: 250px; overflow-y: auto; margin-top: 10%;">
                    </ul>
                </form>
            </div>
            <script>
                let currentFocus = -1;

                document.getElementById('search-input').addEventListener('keyup', function(e) {
                    let suggestionsList = document.getElementById('suggestions-list');
                    let items = suggestionsList.getElementsByClassName('list-group-item');
                    
                    if (e.key === 'ArrowDown') {
                        currentFocus++;
                        addActive(items);
                    } else if (e.key === 'ArrowUp') {
                        currentFocus--;
                        addActive(items);
                    } else if (e.key === 'Enter') {
                        if (currentFocus > -1 && items[currentFocus]) {
                            items[currentFocus].click();
                        }
                    } else {
                        let query = this.value;
                        if (query.length === 0) {
                            suggestionsList.innerHTML = '';
                            return;
                        }

                        fetch(`{{ url_for("autocomplete") }}?q=${query}`, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                                "Accept": "application/json",
                            },
                        })
                            .then(response => response.json())
                            .then(data => {
                                suggestionsList.innerHTML = '';
                                currentFocus = -1;

                                data.suggestions.forEach(suggestion => {
                                    let listItem = document.createElement('li');
                                    listItem.className = 'list-group-item list-group-item-action';
                                    listItem.textContent = suggestion;

                                    listItem.onclick = function() {
                                        document.getElementById('search-input').value = suggestion;
                                        suggestionsList.innerHTML = '';
                                    };

                                    suggestionsList.appendChild(listItem);
                                });
                            })
                            .catch(error => console.error('Error fetching suggestions:', error));
                    }
                });

                function addActive(items) {
                    if (!items) return false;

                    removeActive(items);

                    if (currentFocus >= items.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = items.length - 1;

                    items[currentFocus].classList.add('border-1','border-dark','bg-light');
                    items[currentFocus].scrollIntoView({ block: 'nearest' }); // Ensure the focused item is visible
                    document.getElementById('search-input').value = items[currentFocus].textContent;

                }

                // Function to remove 'active' class from all items
                function removeActive(items) {
                    for (let i = 0; i < items.length; i++) {
                        items[i].classList.remove('border-1','border-dark','bg-light');
                    }
                }

                // Clear search input and suggestions on close button click
                document.getElementById('close-btn').addEventListener('click', function() {
                    document.getElementById('search-input').value = '';
                    document.getElementById('suggestions-list').innerHTML = ''; // Clear suggestions
                });
                let searchBtns = document.getElementsByClassName("search-btn");
                const searchInputBar = document.querySelector("#search-input-bar");
                const closeBtn = document.querySelector("#close-btn");
                const searchInput = document.querySelector("#search-input");

                for (let i = 0; i < searchBtns.length; i++) {
                    searchBtns[i].addEventListener("click", () => {
                        searchInputBar.classList.toggle("d-none");
                        searchInput.focus();
                    });
                }

                closeBtn.addEventListener("click", () => {
                    searchInputBar.classList.add("d-none");
                });
            </script>
        </nav>
    </div>
    {{ login.login(login_form, "login-modal") }}
{% endmacro %}
{% macro admin_navbar(current_user) %}
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100">
        <a href="{{ url_for("admin_dashboard") }}" class="d-flex align-items-center text-white text-decoration-none text-center">Admin Dashboard</a>
        <hr>
        <ul class="nav nav-pills flex-column">
            <li>
                <a href="{{ url_for("admin_manage_product") }}" class="nav-link text-white">Products</a>
            </li>
            <li>
                <a href="{{ url_for("admin_manage_user") }}" class="nav-link text-white">Users</a>
            </li>
            <li>
                <a href="{{ url_for("admin_giftcards") }}" class="nav-link text-white">Gift Cards</a>
            </li>
            <li>
                <a href="{{ url_for("admin_manage_order") }}" class="nav-link text-white">Orders</a>
            </li>
            <li>
                <a href="{{ url_for("admin_manage_category") }}" class="nav-link text-white">Category</a>
            </li>
            <li>
                <a href="{{ url_for("admin_manage_carousel") }}" class="nav-link text-white">Carousel Settings</a>
            </li>
            <hr>
            <li>
                <a href="{{ url_for("admin_manage_razorpay_order") }}" class="nav-link text-white">Razorpay Orders</a>
            </li>
            <li>
                <a href="{{ url_for("admin_payments") }}" class="nav-link text-white">Razorpay Payments</a>
            </li>
        </ul>
        <hr>
        <p class="text-center">{{ current_user.name }}</p>
    </div>
{% endmacro %}
