{% macro navbar(current_user, search_form, categories=None) -%}
<style>
    #search-input-bar {
        position: relative;
        display: none;
    }
    @media (max-width: 990px) {
        #search-input {
            font-size: 1rem;
        }
        #nav-head {
            left : 50%;
            z-index: 1;
            position: relative;
            transform: translateX(-50%);
        }
        #search-btn {
            left: 0;
            position: relative;
            margin-left: 0;
            z-index: 0;
            transform: translateX(0%);
        }
        #hamburger-menu {
            position: relative;
            right: 58%;
        }
    }
    
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid d-flex align-items-start" id="navbar">
        <a class="navbar-brand nav-link active horizon-font fs-4" id = "nav-head" aria-current="page" href="{{ url_for('home') }}">STEEZ<sup>TM</sup></a>
        
        <button class="navbar-toggler" id = "hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav" id="search-btn">
            <li class="nav-item mx-3 fs-5">
                <button class="nav-link"><i class="fa-solid fa-magnifying-glass" style="color: #504949;"></i></button>
            </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto text-center">
                {% if categories %}
                {% for category in categories %}
                    <li class="nav-link mx-4 fs-5">
                        <a class="link-dark link-underline link-underline-opacity-0 link-opacity-100 link-opacity-50-hover fw-semibold" href="{{ url_for('category_' + category.name.lower().replace(' ', '_')) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mx-3 mb-lg-0 d-flex">
                {% if current_user.is_authenticated %}
                <li class="nav-item mx-1 fs-5 searchNext">
                    <a class="nav-link" href="{{ url_for('order_history') }}">Order History</a>
                </li>
                <li class="nav-item mx-1 fs-5">
                    <a class="nav-link" href="{{ url_for('checkout') }}"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #5b5c5d;"></i> {% set total = current_user.cart.count %}{% if total %}<sup>{{ total}}</sup>{% endif
                        %}</a>
                </li>
                <li class="nav-item mx-1 fs-5">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item mx-1 fs-5 searchNext">
                    <a class="nav-link" href="{{ url_for('login_route') }}">Login</a>
                </li>
                <li class="nav-item mx-1 fs-5">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="search-input-bar" class="container-fluid">
        <form action="{{ url_for('search') }}" method="POST" class="input-group input-group-lg">
            {{ search_form.hidden_tag() }}
            {{ search_form.query(class="form-control", id="search-input", placeholder="Search for products", **{"aria-label": "Search for products", "aria-describedby": "button-addon2"}) }}
            {{ search_form.submit(class="d-none") }}
            <button class="btn btn-outline-secondary" type="button" id="close-btn" aria-label="Close search">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </form>
    </div>
    
</nav>

<script>
    
    let previousWidth = window.innerWidth; 
    const searchBtn = document.getElementById("search-btn");
    const searchInputBar = document.getElementById("search-input-bar");
    const closeBtn = document.getElementById("close-btn");
    const searchInput = document.getElementById("search-input");

    searchBtn.addEventListener("click", () => {
        searchInputBar.style.display = "flex";
        searchInput.focus(); // Auto-focus on search input
    });

    closeBtn.addEventListener("click", () => {
        searchInputBar.style.display = "none";
    });

</script>

{%- endmacro %}

{% macro admin_navbar(current_user) -%}
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100">
    <a href="{{ url_for('admin_dashboard') }}" class="d-flex align-items-center fs-4 text-white text-decoration-none text-center">
        Admin Dashboard
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li>
            <a href="{{ url_for('admin_manage_product') }}" class="nav-link text-white">
                Products
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_manage_user') }}" class="nav-link text-white">
                Users
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_giftcards') }}" class="nav-link text-white">
                Gift Cards
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_manage_order') }}" class="nav-link text-white">
                Orders
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_manage_category') }}" class="nav-link text-white">
                Category
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_manage_carousel') }}" class="nav-link text-white">
                Carousel Settings
            </a>
        </li>
        <hr>
        <li>
            <a href="{{ url_for('admin_manage_razorpay_order') }}" class="nav-link text-white">
                Razorpay Orders
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_payments') }}" class="nav-link text-white">
                Razorpay Payments
            </a>
        </li>
    </ul>
    <hr>
    <p class="text-center">{{ current_user.name }}</p>
</div>
{%- endmacro %}