{% extends 'base.html' %}

{% from 'navbar.html' import navbar %}

{% set title = 'STEEZ™ - Order History' %}

{% block body %}
{{ navbar(current_user) }}

{% if orders | length == 0 %}
    <div class="container mt-5">
        <p class="text-center fs-1">No orders found!</p>
    </div>
{% else %}
    <div class="container mt-5">
        <p class="text-center fs-1">Order History</p>
        {% for order in orders %}
            {% set product = order.product %}
            <div class="card mt-3 rounded rounded-0">
                <div class="card-body">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.images[0] }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <span class="text-muted">Product ID: {{ product.id }}</span>
                                        <a href="{{ url_for('product', product_id=product.id) }}" class="nav-link fs-5">{{ product.name }}</a>
                                    </div>
                                    <div class="col-4">
                                        <span class="text-muted">Quantity: {{ order.quantity }}</span>
                                        <p class="fs-6">INR. {{ order.total_price }}</p>
                                    </div>
                                    <div class="col-4">
                                        <span class="text-muted">Order ID: {{ order.id }}</span>
                                        <p class="fs-6">Status: {{ order.status }}</p>
                                    </div>
                                    <div class="col-4">
                                        <span class="text-muted">Order Date:</span>
                                        <p class="fs-6">{{ order.created_at }}</p>
                                    </div>
                                    <div class="col-4">
                                        <span class="text-muted">Razorpay Order ID:</span>
                                        <p class="fs-6">{{ order.razorpay_order_id }}</p>
                                    </div>
                                    <div class="col-4">
                                        <span class="text-muted">Shipping Address:</span>
                                        <p class="fs-6">{{ current_user.address }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}