{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}
{% set title = "STEEZ™ - Order History" %}
{% block body %}
    {{ navbar(current_user, search_form, login_form) }}
    {% if orders | length == 0 %}
        <div class="container mt-5">
            <p class="text-center fs-1">No orders found!</p>
        </div>
    {% else %}
        <div class="container mt-lg-5 mt-xl-5 mt-md-3 mt-2">
            <p class="text-center fs-1">Order History</p>
            {% for order in orders %}
                {% set product = order.product %}
                {% if order.is_recent(1) %}
                    {% set shadow = 'shadow' %}
                {% else %}
                    {% set shadow = '' %}
                {% endif %}
                <div class="card mb-2 rounded rounded-0 {{ shadow }}">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="font-monospace">
                                Order ID: ORD_{{ order.id }}
                            </div>
                            <div>
                                <span class="badge bg-success">{{ order.status }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body m-3">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-md-4 col-xl-3 col-xxl-3">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <div class="d-block">
                                        <a href="{{ url_for('product', product_id=product.id) }}" class="nav-link fs-5">
                                            <img src="{{ product.images[0] }}" class="img-thumbnail border border-0" alt="{{ product.name }}" style="width: 250px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="h-100 d-flex align-items-center">
                                    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-3 row-cols-md-3">
                                        <div class="col">
                                            <span class="text-muted">Product</span>
                                            <a href="{{ url_for('product', product_id=product.id) }}" class="nav-link">{{ product.name }}</a>
                                        </div>
                                        <div class="col">
                                            <span class="text-muted">Quantity</span>
                                            <p>{{ order.quantity }}</p>
                                        </div>
                                        <div class="col">
                                            <span class="text-muted">Total Price (INR)</span>
                                            <p>{{ order.total_price }}</p>
                                        </div>
                                        <div class="col">
                                            <span class="text-muted">Order Date</span>
                                            <p>{{ arrow.get(order.created_at).humanize() }}</p>
                                        </div>
                                        {% if order.razorpay_order_id %}
                                        <div class="col">
                                            <span class="text-muted">Razorpay Order ID</span>
                                            <p>{{ order.razorpay_order_id }}</p>
                                        </div>
                                        {% endif %}
                                        <div class="col">
                                            <span class="text-muted">Shipping Address</span>
                                            <p>{{ current_user.address }}</p>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            {% if order.status == 'COD' %}
                                <a href="#" class="btn btn-danger rounded rounded-0 link-underline-dark">Cancel Order</a>
                            {% endif %}

                            {% if order.status == 'CONF' %}
                                <a href="{{ url_for('pay_now', razorpay_order_id=order.razorpay_order_id) }}" class="btn btn-primary rounded rounded-0 link-underline-dark">Pay Now</a>
                            {% endif %}

                            {% if order.status == 'PAID' %}
                                <a href="#" class="btn btn-danger rounded rounded-0 link-underline-dark">Return Order</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
