{% extends "base.html" %}

{% set title = 'STEEZ™ - Final Checkout' %}

{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}

{% block script %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function razorPayCallback(response) {
        {% if webhook %}
        const url = `{{ url_for(webhook) }}`;
        {% else %}
        const url = `{{ url_for('razorpay_webhook') }}`;
        {% endif %}

        const data = {
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: response.razorpay_order_id,
            razorpay_signature: response.razorpay_signature,
        };

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': `{{ csrf_token() }}`,
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                if (data.status === 'ok') {
                    window.location.href = `{{ url_for('show_gift_card') }}?gift_card_code=${data.gift_card_code}`;
                } else {
                    window.location.href = `{{ url_for('payment_failure') }}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                window.location.href = `{{ url_for('payment_failure') }}`;
            });
    }
    var options = {
        key: `{{ razorpay_key }}`,
        amount: `{{ amount }}`,
        currency: "INR",
        name: "STEEZ™",
        description: "{% if description %}{{ description }}{% else %}Payment for Order ID: {{ order_id }}{% endif %}",
        order_id: `{{ order_id }}`,
        prefill: {
            name: `{{ current_user.name }}`,
            email: `{{ current_user.email }}`,
            contact: `{{ current_user.phone }}`
        },
        notes: {
            address: `{{ current_user.address }}`
        },
        handler: function (response) {
            razorPayCallback(response);
        },
        timeout: 900,
    }
    var rzpy = new Razorpay(options);
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById(`rzp-button`).onclick = function (e) {
            rzpy.open();
            e.preventDefault();
        }
    });
</script>
{% endblock %}


{% block body %}

<div class="container text-center mt-5">
    <hr>
    <div>
        {% if giftcard %}
        <h3>Your Gift Card has being recorded.</h3>
        <h4>Thank you for shopping with us.</h4>
        {% else %}
        <h3>Your Order has being recorded.</h3>
        <h4>Thank you for shopping with us.</h4>
        {% endif %}
    </div>
    <button type="button" class="btn btn-primary rounded rounded-0 mt-5" id="rzp-button">Pay with Razorpay</button>
</div>

{% endblock %}