{% extends 'base.html' %}

{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}

{% block style %}
<style>
    .large-image {
        top: 0;
        left: 0;
        transition: transform 0.3s ease;
        transform: scale(0);
        transition: transform 0.3s ease;
    }

    .thumbnail img {
        cursor: pointer;
    }

    .img-thumbnail {
        max-width: 20%;
    }
</style>
{% endblock %}

{% block body %}
{{ navbar.navbar(current_user) }}

<hr>
<div class="container-xl mt-3">
    {% if error %}
    <div class="alert alert-danger p-2 rounded rounded-0 text-center" role="alert">
        <i class="bi bi-exclamation-diamond"></i> Item not found, Possible reason: product size not available.
    </div>
    {% endif %}
    <div class="row row-cols-lg-2 row-cols-1">
        <div class="col">
            <div class="position-relative">
                <div class="main-image">
                    <img src="{{ product.images[0] }}" class="img-fluid zoom-effect border border-1" alt="{{ product.name }}">
                    <img src="{{ product.images[0] }}" class="img-fluid large-image z-1 object-fit-cover shadow position-absolute overflow-visible" alt="{{ product.name }}">
                </div>
            </div>
            <div class="thumbnails d-flex justify-content-center mt-1 rounded rounded-0 z-2">
                {% for image in product.images %}
                <img src="{{ image }}" class="img-thumbnail rounded rounded-0 border border-1 object-fir-cover" alt="{{ product.name }}">
                {% endfor %}
            </div>
        </div>

        <div class="col">
            <p class="fs-1">{{ product.name }}</p>
            <p class="fs-6 text-muted">{{ product.average_rating }} ({{ product.total_reviews }} reviews)</p>
            <p class="fs-5">Price: INR. {{ product.price }}</p>
            <p class="fs-6">{{ product.description }}</p>
            <hr>
            <div class="mt-2">
                <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-2">
                                {{ form.quantity.label(class="form-label text-muted") }}
                                {{ form.quantity(class="form-control form-control-lg rounded rounded-0 fs-6", placeholder="Quantity") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-2">
                                {{ form.size.label(class="form-label text-muted") }}
                                {{ form.size(class="form-select form-select-lg rounded rounded-0 fs-6", placeholder="Select Size") }}
                            </div>
                        </div>
                    </div>

                    {% if current_user.is_authenticated %}
                        {{ form.submit(class="btn btn-outline-secondary w-100 rounded rounded-0 mt-2", id="add-to-cart") }}
                        <a href="{{ url_for('checkout') }}" class="btn btn-outline-danger w-100 rounded rounded-0 mt-2">Checkout</a>
                    {% else %}
                        <a href="{{ url_for('login_route') }}" class="btn btn-outline-secondary w-100 rounded rounded-0 mt-2">Login to Add to Cart</a>
                        <a href="{{ url_for('login_route') }}" class="btn btn-outline-danger w-100 rounded rounded-0 mt-2">Login to Checkout</a>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
    <hr>
    <p class="fs-6">Reference Chart</p>
    <table class="table mt-2 mb-2">
        <thead>
            <th class="bg-transparent">SIZE</th>
            <th class="bg-transparent">CHEST</th>
            <th class="bg-transparent">LENGTH</th>
        </thead>
        <tbody>
            {% for size, chest, length in size_chart %}
            <tr>
                <td class="bg-transparent">{{ size }}</td>
                <td class="bg-transparent">{{ chest }}</td>
                <td class="bg-transparent">{{ length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="reviews mt-4">
        <h2 class="mt-4">Reviews</h5>

            {% if current_user.is_authenticated %}
            <h5 class="mt-4">Add Review</h5>
            <form action="{{ url_for('add_review', product_id=product.id) }}" method="POST">
                {{ review_form.hidden_tag() }}
                <div class="form-group mb-3">
                    {{ review_form.review(class="form-control rounded rounded-0") }}
                </div>
                <div class="form-group">
                    {{ review_form.submit(class="btn btn-outline-secondary rounded rounded-0") }}
                </div>
            </form>
            {% else %}
            <a href="{{ url_for('login_route') }}" class="btn btn-outline-secondary rounded rounded-0">Login to Add Review</a>
            {% endif %}

            <hr>

            {% for review in product.reviews %}
            <div class="card mt-2 rounded rounded-0">
                <div class="card-body">
                    <h6 class="card-title text-muted">{{ review.user.name }} {% for i in range(review.stars) %}<i class="bi bi-star-fill"></i>{% endfor %}</h6>
                    <p class="card-text fs-6">{{ review.review }}</p>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{{ footer.footer() }}
{% endblock %}

{% block script_bottom %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const mainImage = document.querySelector('.main-image img');
        const largeImage = document.querySelector('.large-image');
        const thumbnails = document.querySelectorAll('.img-thumbnail');

        thumbnails.forEach((thumbnail) => {
            thumbnail.addEventListener('click', () => {
                mainImage.src = thumbnail.src;
                largeImage.src = thumbnail.src;
            });
        });

        const imageContainer = document.querySelector('.main-image');

        imageContainer.addEventListener('mouseover', () => {
            largeImage.style.transform = 'scale(1.3)'
        });

        imageContainer.addEventListener('mouseout', () => {
            largeImage.style.transform = 'scale(0)';
        });

        imageContainer.addEventListener('mousemove', (event) => {
            const containerRect = imageContainer.getBoundingClientRect();
            const mouseX = event.clientX - containerRect.left;
            const mouseY = event.clientY - containerRect.top;
            const zoomFactor = 1.2;

            largeImage.style.transformOrigin = `${mouseX}px ${mouseY}px`;
            largeImage.style.transform = `scale(${zoomFactor})`;
        });
    });
</script>
<script>
    const alertList = document.querySelectorAll('.alert')
    const alerts = [...alertList].map(element => new bootstrap.Alert(element))
</script>
{% endblock %}