{% extends 'base.html' %}
{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}
{% block styles %}
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <style>
        #zoom-img {
            display: block;
            max-width: 100%;
        }

        .zoomable {
            position: relative;
            overflow: hidden;
        }

        .zoomable__img {
            transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
            transition: transform 0.15s linear;
        }

        .zoomable--zoomed .zoomable__img {
            cursor: zoom-in;
            transform: scale(var(--zoom, 2));
        }
    </style>
    <style>
        .product-card:hover {
            transition: transform 0.3s ease-in;
        }

        .product-card img {
            transition: opacity 0.2s ease-out;
        }

        .product-card .hover-image {
            opacity: 1;
        }

        .product-card:hover .hover-image {
            opacity: 0;
        }

        .product-card:hover .main-image {
            opacity: 1;
        }

        .fs-7 {
            font-size: 0.875rem;
        }

        .p-2-5 {
            padding: 0.695rem;
        }
    </style>
{% endblock %}
{% block body %}
    {{ navbar.navbar(current_user, search_form, login_form) }}
    <div class="container-fluid overflow-hidden">
        <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-1">
            <div class="col">
                <div class="d-block d-lg-none d-md-none d-xl-none text-center">
                    <p class="fs-1 fw-bold text-uppercase mt-3">{{ product.name.strip() }}</p>
                    {% set display_price = product.display_price %}
                    {% set difference = display_price - product.price %}
                    {% if difference > 0 %}
                        {% set percent = ((difference / display_price) * 100) | int %}
                        <span class="text-danger fs-4">-{{ percent }}%</span>
                    {% endif %}
                    <span class="fs-4 fw-bold">{{ product.price | format_currency_direct }}</span>
                    {% if difference > 0 %}<p class="text-muted text-decoration-line-through mt-0">{{ display_price | format_currency_direct }}</p>{% endif %}
                </div>
                <div class="product-image text-center my-5">
                    <div class="container my-4">
                        <div class="row justify-content-center m-0 p-0">
                            <div class="col-lg-10 col-md-12 col-sm-12">
                                <div id="product-image-indicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner position-relative">
                                        {% for i in range(0, product.images | length) %}
                                            <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                                <img src="{{ product.images[i] }}" alt="{{ product.name }}" class="d-block w-100">
                                                <button type="button" class="btn btn-light position-absolute top-0 end-0 m-2" data-bs-toggle="modal" data-bs-target="#zoomModal" data-img-src="{{ product.images[i] }}">
                                                    <i class="bi bi-arrows-fullscreen"></i>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <button class="border border-0 btn btn-outline-secondary rounded rounded-0 " type="button" data-bs-target="#product-image-indicators" data-bs-slide="prev">
                                            <i class="fa-solid fa-arrow-left fa-lg" style="color: black;"></i>
                                        </button>
                                        <div class="carousel-indicators">
                                            {% for i in range(product.images | length) %}
                                                <button type="button" data-bs-target="#product-image-indicators" class="border border-0 fw-bold text-dark fs-3 {% if i == 0 %}active{% endif %}" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}" {% if i==0 %}aria-current="true"{% endif %}>
                                                    <div class="bg-dark rounded rounded-5" style="height: 8px; width: 25px;"></div>
                                                </button>
                                            {% endfor %}
                                        </div>
                                        <button class="border border-0 btn btn-outline-secondary rounded rounded-0" type="button" data-bs-target="#product-image-indicators" data-bs-slide="next">
                                            <i class="fa-solid fa-arrow-right fa-lg" style="color: black;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="zoomModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content position-relative">
                            <button type="button" class="btn-close position-absolute p-3" data-bs-dismiss="modal" aria-label="Close" style="top: 20px; right: 20px; z-index: 10"></button>
                            <div class="modal-body d-flex justify-content-center align-items-center zoomable" style="height: 800px">
                                <img src="" alt="{{ product.name }}" id="zoomedImage" class="zoomable__img img-fluid " style="width: 100%; height: auto; object-fit: cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col border-start border-start-1 border-bottom border-bottom-1 m-0 p-0">
                <div class="px-lg-5 px-4 mt-lg-5 pt-lg-5 mt-xl-5 pt-xl-5 m-4 mt-md-3 pt-md-3">
                    <div class="d-none d-lg-block d-md-block d-xl-block">
                        <div class="h-100 d-flex justify-content-between align-items-center">
                            <div class="fs-1 fw-bold text-uppercase">{{ product.name.strip() }}</div>
                        </div>
                        <div class="mb-4 mt-4">
                            {% if product.discount > 0 %}
                                <span class="text-danger fs-4">-{{ product.discount }}%</span>
                            {% endif %}
                            <span class="fs-5 fw-bold">{{ product.price | format_currency_direct }}</span>
                            {% if product.display_price - product.price > 0 %}<p class="text-muted text-decoration-line-through mt-0">{{ product.display_price | format_currency_direct }}</p>{% endif %}
                        </div>
                    </div>
                    <form class="mb-5" action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-4">{{ form.size(class="form-select rounded rounded-0 fs-7 w-100 mb-3 border-dark-subtle fw-semibold p-2-5 shadow-none focus-ring focus-ring-dark", placeholder="Select Size") }}</div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between">
                                        <button type="button" class="btn btn-outline-dark border px-3 border-1 rounded rounded-0 h-100 text-center decrement disabled">
                                            <span class="fw-semibold fs-5">-</span>
                                        </button>
                                        {{ form.quantity(class="form-control text-center bg-transparent rounded rounded-0 fw-semibold shadow-none focus-ring focus-ring-dark", id="quantity") }}
                                        <button type="button" class="btn btn-outline-dark border px-3 border-1 rounded rounded-0 h-100 text-center increment">
                                            <span class="fw-semibold fs-5">+</span>
                                        </button>
                                    </div>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', () => {
                                            const amount = document.getElementById('quantity');
                                            const increment = document.querySelector('.increment');
                                            const decrement = document.querySelector('.decrement');

                                            increment.addEventListener('click', () => {
                                                amount.stepUp();

                                                if (amount.value > 1) {
                                                    decrement.classList.remove('disabled');
                                                }

                                                if (amount.max && amount.value >= amount.max) {
                                                    increment.classList.add('disabled');
                                                }
                                            });

                                            decrement.addEventListener('click', () => {
                                                amount.stepDown();

                                                if (amount.value <= 1) {
                                                    decrement.classList.add('disabled');
                                                }

                                                if (amount.max && amount.value < amount.max) {
                                                    increment.classList.remove('disabled');
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <button type="button" class="btn text-start p-0 my-3" data-bs-toggle="modal" data-bs-target="#reference-chart">
                                    <span class="text-primary">Click to view Size Chart</span>
                                </button>
                                <div class="modal fade rounded rounded-0" id="reference-chart" tabindex="-1" aria-labelledby="reference-chart-label" aria-hidden="true">
                                    <div class="modal-dialog rounded rounded-0">
                                        <div class="modal-content rounded rounded-0">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="reference-chart-label">Reference Chart</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered table-hover text-center">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>SIZE</th>
                                                            <th>CHEST</th>
                                                            <th>LENGTH</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for size, chest, length in size_chart %}
                                                            <tr>
                                                                <td>{{ size }}</td>
                                                                <td>{{ chest }}</td>
                                                                <td>{{ length }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary rounded rounded-0" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            {% if current_user.is_authenticated %}
                                <div class="col">
                                    <div class="m-1">{{ form.submit(class="btn btn-outline-dark rounded rounded-5 w-100 fs-min text-uppercase fw-semibold p-2-5 border border-2 border-dark", id="add-to-cart") }}</div>
                                </div>
                                <div class="col">
                                    <div class="m-1">
                                        <a href="{{ url_for("checkout") }}" class="btn btn-dark rounded rounded-5 w-100 fs-min text-uppercase fw-semibold p-2-5">Buy Now</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col">
                                    <a href="{{ url_for("login_route") }}" class="btn btn-outline-dark rounded rounded-5 w-100 text-uppercase fw-semibold p-2-5 fs-7 border border-2 border-dark disabled">Add to Cart</a>
                                </div>
                                <div class="col">
                                    <a href="{{ url_for("login_route") }}" class="btn btn-dark rounded rounded-5 w-100 text-uppercase fw-semibold p-2-5 fs-7">Login to Buy</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    <div class="text-dark p-2 text-center fs-7 fw-semibold lh-lg text-uppercase">{{ product.description | safe }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <hr class="m-0 p-0">
    </div>
    <div class="container-fluid m-0 p-0">
        <div class="row row-cols-lg-4 row-cols-2 m-0 p-0">
            <div class="col m-0 p-0 border border-1">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="text-center align-middle">
                        <p class="fs-lg-2 fs-4 horizon-font align-middle">You may also like</p>
                        <p class="text-muted align-middle fw-semibold text-uppercase">Shop Now</p>
                    </div>
                </div>
            </div>
            {% for prod in product.similar_products() %}
                <div class="col-lg-3 m-0 p-0 border border-1" id="{{ prod.id }}">
                    <div class="card image-transition product-card bg-transparent rounded rounded-0 border border-0">
                        <div class="d-flex justify-content-center position-relative">
                            <img src="{{ prod.images[0] }}" alt="{{ prod.name }}" class="img-fluid main-image" />
                            <img src="{{ prod.images[1] }}" alt="{{ prod.name }}" class="img-fluid hover-image position-absolute top-0 start-50 translate-middle-x" />
                        </div>
                        <div class="card-body">
                            <p class="card-title code fs-6 text-uppercase fw-semibold">{{ prod.name }}</p>
                            <p class="text-muted text-uppercase fw-semibold">{{ prod.price | format_currency_direct }}</p>
                        </div>
                        <a href="{{ url_for('product', product_id=prod.id) }}" class="stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ccontainer-fluid mt-0 overflow-hidden">
        <div class="container-fluid p-lg-5 p-3">
            <p class="fs-2 fw-semibold m-2 mb-3">Frequently Asked Questions</p>
            <div class="accordion" id="faq-accordion">
                {% for faq in FAQ %}
                    {% if loop.index <= 5 %}
                        <div class="accordion-item rounded rounded-0">
                            <h2 class="accordion-header rounded rounded-0" id="heading-{{ loop.index }}">
                                <button class="accordion-button collapsed rounded rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">{{ faq.question }}</button>
                            </h2>
                            <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">{{ faq.answer }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid mt-lg-4 mt-3 ps-lg-5 pe-lg-5">
        <p class="fs-2 fw-semibold m-2 mb-3">Reviews</p>
        <hr>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2">
            <div class="col-md-4 col-lg-3">
                <div class="p-4 rounded rounded-0">
                    {% set one_stars_reviews = reviews[1] | length %}
                    {% set two_stars_reviews = reviews[2] | length %}
                    {% set three_stars_reviews = reviews[3] | length %}
                    {% set four_stars_reviews = reviews[4] | length %}
                    {% set five_stars_reviews = reviews[5] | length %}
                    <div class="row text-center mb-4">
                        <div class="col">
                            <p class="display-4 text-dark mb-1">{{ product.average_rating }}</p>
                            <p class="text-muted">
                                <i class="bi bi-people"></i> {{ product.total_reviews }} reviews
                            </p>
                        </div>
                    </div>
                    <div>
                        {% for star_count, star_class, label in [
                            (5, "bg-warning", "5"),
                            (4, "bg-warning", "4"),
                            (3, "bg-warning", "3"),
                            (2, "bg-info", "2"),
                            (1, "bg-danger", "1")
                            ] %}
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <span class="fs-6 me-2">{{ label }} <i class="text-warning bi bi-star-fill"></i> </span>
                                </div>
                                <div class="progress w-100">
                                    <div class="progress-bar text-dark {{ star_class }}" role="progressbar" style="width: {{ reviews[star_count] | length * 100 / (product.total_reviews or 1) }}%" aria-valuenow="{{ reviews[star_count] | length }}" aria-valuemin="0" aria-valuemax="100">{{ reviews[star_count] | length or '0' }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 m-0 p-0">
                <div class="card border border-0 mb-5 rounded rounded-0 p-4">
                    <div class="border border-1 p-lg-5 p-3 shadow-sm">
                        <h5 class="card-title">Leave Your Review</h5>
                        <form action="{{ url_for('add_review', product_id=product.id) }}" method="POST">
                            {{ review_form.hidden_tag() }}
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rate this product:</label>
                                <div class="star-rating d-flex justify-content-start">
                                    {% for i in range(1, 6) %}
                                        <input type="radio" name="stars" value="{{ i }}" id="star{{ i }}" class="d-none">
                                        <label for="star{{ i }}" class="me-1 star-label" onclick="updateStars({{ i }})">
                                            <i class="bi bi-star-fill text-muted"></i>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3">{{ review_form.review(class="form-control rounded-0 shadow-none", rows="5", placeholder="Write your review here...") }}</div>
                            <button type="submit" class="btn btn-outline-primary rounded-0 shadow-sm">Submit Review</button>
                        </form>
                    </div>
                    {% if product.reviews %}
                        {% for review in product.reviews %}
                            <div class="row p-4 shadow-sm m-0 mt-3">
                                <div class="col-2 col-lg-1 col-sm-2 col-md-3 text-center m-0 p-0">
                                    {% set placeholder = "https://ui-avatars.com/api/?name=" + review.user.name + "&background=random&rounded=true" %}
                                    <img src="{{ placeholder }}" alt="{{ review.user.name }}" class="img-thumbnail bg-transparent rounded rounded-0 border border-0">
                                </div>
                                <div class="col">
                                    <div class="card bg-transparent border border-0">
                                        <div class="card-header p-0 bg-transparent border border-0 d-flex justify-content-between">
                                            <h5 class="card-title">{{ review.user.name }}</h5>
                                            <small class="text-muted">{{ review.created_at | datetimeformat_short }}</small>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="align-middle">
                                                <p class="text-muted">{{ review.review }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-secondary text-center p-2 rounded rounded-0" role="alert">No reviews yet. Be the first to review this product!</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ footer.footer(newsletter_form) }}
{% endblock %}
{% block bottom_scripts %}
    <script>
        function updateStars(rating) {
        let stars = document.querySelectorAll('.star-label i');

        stars.forEach((star, index) => {
            if (index < rating) {
                star.classList.remove('text-muted');
                star.classList.add('text-warning'); 
            } else {
                star.classList.remove('text-warning');
                star.classList.add('text-muted'); 
            }
        });
    }
        document.getElementById('zoomModal').addEventListener('show.bs.modal', function(event) {
            const button = event.relatedTarget;

            const imgSrc = button.getAttribute('data-img-src');

            const modalImage = document.getElementById('zoomedImage');
            modalImage.src = imgSrc;
        });


        const Default = {
            initialZoom: 3,
            minZoom: 1.25,
            maxZoom: 4,
            zoomSpeed: 0.01
        };


        class Zoomable {
            constructor(element, config) {
                this.element = element;
                this.config = this._mergeConfig(config);

                const {
                    initialZoom,
                    minZoom,
                    maxZoom
                } = this.config;

                this.zoomed = false;
                this.initialZoom = Math.max(Math.min(initialZoom, maxZoom), minZoom);
                this.zoom = this.initialZoom;

                this.img = element.querySelector(".zoomable__img");
                this.img.draggable = false;
                this.element.style.setProperty("--zoom", this.initialZoom);

                this._addEventListeners();
            }

            static get Default() {
                return Default;
            }

            _addEventListeners() {
                this.element.addEventListener("mouseover", () => this._handleMouseover());
                this.element.addEventListener("mousemove", (evt) => this._handleMousemove(evt));
                this.element.addEventListener("mouseout", () => this._handleMouseout());
                this.element.addEventListener("wheel", (evt) => this._handleWheel(evt));

                this.element.addEventListener("touchstart", (evt) => this._handleTouchstart(evt));
                this.element.addEventListener("touchmove", (evt) => this._handleTouchmove(evt));
                this.element.addEventListener("touchend", () => this._handleTouchend());
            }

            _handleMouseover() {
                if (this.zoomed) {
                    return;
                }

                this.element.classList.add("zoomable--zoomed");
                this.zoomed = true;
            }

            _handleMousemove(evt) {
                if (!this.zoomed) {
                    return;
                }

                const elPos = this.element.getBoundingClientRect();
                const percentageX = `${((evt.clientX - elPos.left) * 100) / elPos.width}%`;
                const percentageY = `${((evt.clientY - elPos.top) * 100) / elPos.height}%`;

                this.element.style.setProperty("--zoom-pos-x", percentageX);
                this.element.style.setProperty("--zoom-pos-y", percentageY);
            }

            _handleMouseout() {
                if (!this.zoomed) {
                    return;
                }

                this.element.style.setProperty("--zoom", this.initialZoom);
                this.element.classList.remove("zoomable--zoomed");
                this.zoomed = false;
            }

            _handleWheel(evt) {
                if (!this.zoomed) {
                    return;
                }

                evt.preventDefault();

                const newZoom = this.zoom + evt.deltaY * (this.config.zoomSpeed * -1);
                const {
                    minZoom,
                    maxZoom
                } = this.config;

                this.zoom = Math.max(Math.min(newZoom, maxZoom), minZoom);
                this.element.style.setProperty("--zoom", this.zoom);
            }

            _handleTouchstart(evt) {
                evt.preventDefault();
                this._handleMouseover();
            }

            _handleTouchmove(evt) {
                if (!this.zoomed) {
                    return;
                }

                const elPos = this.element.getBoundingClientRect();
                let percentageX = ((evt.touches[0].clientX - elPos.left) * 100) / elPos.width;
                let percentageY = ((evt.touches[0].clientY - elPos.top) * 100) / elPos.height;

                percentageX = Math.max(Math.min(percentageX, 100), 0);
                percentageY = Math.max(Math.min(percentageY, 100), 0);

                this.element.style.setProperty("--zoom-pos-x", `${percentageX}%`);
                this.element.style.setProperty("--zoom-pos-y", `${percentageY}%`);
            }

            _handleTouchend() {
                this._handleMouseout();
            }

            _mergeConfig(config) {
                return {
                    ...this.constructor.Default,
                    ...(typeof config === "object" ? config : {})
                };
            }
        }


        const zoomables = document.querySelectorAll("#zoomModal .zoomable");

        for (const el of zoomables) {
            new Zoomable(el);
        }
    </script>
{% endblock %}
