{% extends 'base.html' %}

{% import 'navbar.html' as navbar %}
{% import 'footer.html' as footer %}

{% block styles %}
<style>
    .product-page {
        font-family: Arial, sans-serif;
        margin: 100px;
    }

    /* Product Image section */

    .product-image {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-image {
        position: relative;
        width: 60%;
        margin: 20px;
    }

    .small-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .large-image {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 150%;
        object-fit: cover;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
    }

    .main-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .image-thumbnails {
        width: 40%;
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .thumbnail {
        width: 30%;
        margin: 10px;
        cursor: pointer;
    }

    .thumbnail img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #ccc;
    }

    .thumbnail img:hover {
        border: 2px solid #666;
    }

    @media (max-width: 968px) {
        .main-image {
            width: 100%;
            margin: 10px;
        }

        .image-thumbnails {
            width: 100%;
            margin: 10px;
        }

        .thumbnail {
            width: 45%;
            margin: 5px;
        }
    }

    @media (max-width: 480px) {
        .main-image img {
            height: 250px;
        }

        .thumbnail img {
            height: 60px;
        }
    }

    @media (max-width: 320px) {
        .main-image img {
            height: 200px;
        }

        .thumbnail img {
            height: 50px;
        }
    }

    /* Call-to-Action Buttons */
    .cta-buttons {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .cta-buttons button {
        margin-right: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #4CAF50;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #3e8e41;
    }

    .btn-secondary {
        background-color: #666;
        color: #fff;
    }

    .btn-secondary:hover {
        background-color: #555;
    }

    .btn-link {
        background-color: transparent;
        color: #337ab7;
        border: none;
    }

    .btn-link:hover {
        color: #23527c;
    }



    /* Related Products Section */
    .related-products {
        margin-bottom: 20px;
    }

    .related-product {
        margin-bottom: 20px;
    }

    .related-product img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .related-product h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .related-product p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    /* Product Availability Section */

    .pricing-availability {
        margin-bottom: 20px;
    }

    .pricing-availability h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .pricing-availability p {
        font-size: 16px;
        margin-bottom: 10px;
    }


    /* Review Section */

    .review-rating {
        margin-bottom: 10px;
    }

    .review-rating span {
        font-size: 16px;
        margin-right: 10px;
    }

    .review-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .review-item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .review-item h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .review-item p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main-image img {
        height: 100%;
    }
    .thumbnail img {
        height: 100% ;
    }
    /* FAQ Section */

    .faq-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .faq-item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .faq-item h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .faq-item p {
        font-size: 16px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block body %}
{{ navbar.navbar(current_user) }}

<hr>
<div class="product-page m-3 p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Product Image Section -->
                <div class="product-image">
                    <div class="main-image">
                        <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="small-image">
                        <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="large-image">
                    </div>
                    <div class="image-thumbnails">
                        {% for image in product.images %}

                        <div class="thumbnail">
                            <img src="{{ image }}" alt="{{ product.name }}">
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Product Information Section -->
                    <h1 class="fs-1 montserrat"><strong>{{ product.name.strip() }}</h1></strong></h1>
                    <p>{{ product.description | safe }}</p>
                

                <!-- Pricing and Availability Section -->
                <div class="pricing-availability">
                    <h5><strong>INR. {{ product.price }}</strong></h5>
                </div>

                <!-- Call-to-Action Buttons -->
                <div class="cta-buttons">
                    <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
                        {{ form.hidden_tag() }}

                        <div class="row">
                            <div class="col-">
                                <div class="form-group mb-2">
                                    {{ form.quantity.label(class="form-label text-muted") }}
                                    {{ form.quantity(class="form-control form-control-lg fs-6", placeholder="Quantity") }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2">
                                    {{ form.size.label(class="form-label text-muted") }}
                                    {{ form.size(class="form-select form-select-lg fs-6", placeholder="Select Size") }}
                                </div>
                            </div>
                            <div class="col"></div>
                                <div class="form-group mb-2">
                                    <a href = "{{ url_for('reference_chart') }}" class="ink-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                        Size Reference Chart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if current_user.is_authenticated %}
                            <div class="col">
                                {{ form.submit(class="btn btn-primary w-100", id="add-to-cart") }}
                            </div>
                            <div class="col">
                                <a href="{{ url_for('checkout') }}" class="btn btn-secondary w-100 ">Buy Now</a>
                            </div>
                            {% else %}
                            <div class="col">
                                <a href="{{ url_for('login_route') }}" class="btn btn-outline-secondary w-100 mt-2">Login to Add to Cart</a>
                            </div>
                            <div class="col">
                                <a href="{{ url_for('login_route') }}" class="btn btn-outline-danger w-100 mt-2">Login to Checkout</a>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Product Reviews and Ratings Section -->
        <div class="reviews mt-4">
            <h2 class="mt-4">Reviews</h5>

                {% if current_user.is_authenticated %}
                <h5 class="mt-4">Add Review</h5>
                <form action="{{ url_for('add_review', product_id=product.id) }}" method="POST">
                    {{ review_form.hidden_tag() }}
                    <div class="form-group mb-3">
                        {{ review_form.review(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ review_form.submit(class="btn btn-outline-secondary") }}
                    </div>
                </form>
                {% else %}
                <a href="{{ url_for('login_route') }}" class="btn btn-outline-secondary">Login to Add Review</a>
                {% endif %}

                <hr>

                {% for review in product.reviews %}
                <div class="card mt-2 bg-transparent shadow-sm border border-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1 m-auto">
                                <img src="https://placehold.co/50x50?text={{ review.user.name[0].upper() }}" class="float-end rounded-circle image-fluid"
                                    alt="Circular Image">
                            </div>
                            <div class="col d-flex align-items-center p-0">
                                <p class="card-title fs-6 text-dark">{{ review.user.name }} - <span class='text-muted'>{{ arrow.get(review.created_at).humanize()
                                        }}</span></p>
                            </div>
                        </div>
                        <p class="ms-4 card-text fs-6 mt-2">{{ review.review }}</p>
                    </div>
                </div>
                {% endfor %}
        </div>
        <!-- Related Products Section -->
        <div class="row">
            <div class="col-md-12">
                <!-- Product FAQs Section -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>Frequently Asked Questions</h2>
                        <div class="faq-list">
                            <div class="faq-item">
                                <h3>Q: What is the warranty on this product?</h3>
                                <p>A: Our product comes with a 1-year limited warranty.</p>
                            </div>
                            <div class="faq-item">
                                <h3>Q: Can I return this product if I'm not satisfied?</h3>
                                <p>A: Yes, you can return this product within 30 days of purchase for a full refund.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{ footer.footer() }}
        {% endblock %}

        {% block bottom_scripts %}
        <script>
            const mainImage = document.querySelector('.main-image img');
            const largeImage = document.querySelector('.large-image');
            const thumbnails = document.querySelectorAll('.thumbnail img');

            thumbnails.forEach((thumbnail) => {
                thumbnail.addEventListener('mouseover', () => {
                    mainImage.src = thumbnail.src;
                    largeImage.src = thumbnail.src;
                });
            });
            const imageContainer = document.querySelector('.main-image');

            imageContainer.addEventListener('mouseover', () => {
                const largeImage = imageContainer.querySelector('.large-image');
                largeImage.style.transform = 'scale(1)';
            });

            imageContainer.addEventListener('mouseout', () => {
                const largeImage = imageContainer.querySelector('.large-image');
                largeImage.style.transform = 'scale(0)';
            });

            imageContainer.addEventListener('mousemove', (event) => {
                const largeImage = imageContainer.querySelector('.large-image');
                const containerRect = imageContainer.getBoundingClientRect();
                const mouseX = event.clientX - containerRect.left;
                const mouseY = event.clientY - containerRect.top;
                const zoomFactor = 2;

                largeImage.style.transformOrigin = `${mouseX}px ${mouseY}px`;
                largeImage.style.transform = `scale(${zoomFactor})`;
            });
        </script>
        {% endblock %}