{% extends 'base.html' %}
{% block body %}
<div class="container my-4">
    <p class="border border-dark p-3 w-50 mx-auto text-center bg-light font-weight-bold">
        Reference Chart
    </p>
    <table class="table table-bordered table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>SIZE</th>
                <th>CHEST</th>
                <th>LENGTH</th>
            </tr>
        </thead>
        <tbody>
            {% for size, chest, length in size_chart %}
            <tr>
                <td>{{ size }}</td>
                <td>{{ chest }}</td>
                <td>{{ length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>
{% endblock %}
